.wrapper {
  padding-top: 50px;
  background: white;
  height: 100%;
  width:60%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  text-align: center;
  align-content: flex-start;
  margin-left:25%;
}
